<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.Data.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ColiasServiceEndpoint1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="ArtDatabankenServiceSOAP11Endpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ColiasServiceFastEndpoint">
                    <binaryMessageEncoding maxReadPoolSize="2000000000" maxWritePoolSize="2000000000" maxSessionSize="2000000000">
                        <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000"/>
                    </binaryMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2000000000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
                </binding>
                <binding name="ColiasServiceFastEndpoint1">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    </binaryMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
                </binding>
                <binding name="ArtDatabankenServiceBinaryEndpoint">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    </binaryMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="ColiasServiceEndpoint" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000"/>
                    <reliableSession ordered="true" inactivityTimeout="00:20:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
                    </security>
                </binding>
                <binding name="ArtDatabankenServiceSOAP12Endpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://colias.artdata.slu.se:4343/WebService/ArtDatabankenService.svc" binding="wsHttpBinding" bindingConfiguration="ColiasServiceEndpoint" contract="WebService.IArtDatabankenService" name="ColiasServiceEndpoint"/>
            <endpoint address="https://colias.artdata.slu.se:4343/WebService/ArtDatabankenService.svc/Fast" binding="customBinding" bindingConfiguration="ColiasServiceFastEndpoint" contract="WebService.IArtDatabankenService" name="ColiasServiceFastEndpoint"/>
            <endpoint address="https://colias.artdata.slu.se:4343/WebService/ArtDatabankenService.svc" binding="basicHttpBinding" bindingConfiguration="ColiasServiceEndpoint1" contract="WebService.IArtDatabankenService" name="ColiasServiceEndpoint1"/>
            <endpoint address="https://colias.artdata.slu.se:4343/WebService/ArtDatabankenService.svc/Fast" binding="customBinding" bindingConfiguration="ColiasServiceFastEndpoint1" contract="WebService.IArtDatabankenService" name="ColiasServiceFastEndpoint1">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc" binding="basicHttpBinding" bindingConfiguration="ArtDatabankenServiceSOAP11Endpoint" contract="WebService.IArtDatabankenService" name="ArtDatabankenServiceSOAP11Endpoint"/>
            <endpoint address="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/Fast" binding="customBinding" bindingConfiguration="ArtDatabankenServiceBinaryEndpoint" contract="WebService.IArtDatabankenService" name="ArtDatabankenServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/SOAP12" binding="wsHttpBinding" bindingConfiguration="ArtDatabankenServiceSOAP12Endpoint" contract="WebService.IArtDatabankenService" name="ArtDatabankenServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <ArtDatabanken.Data.Settings>
            <setting name="DefaultTransactionTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PersonGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:Person:Id:</value>
            </setting>
            <setting name="OnionDataSourceName" serializeAs="String">
                <value>ArtDatabankenOnion</value>
            </setting>
            <setting name="ValidToDateYearIncrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UserGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:User:Id:</value>
            </setting>
            <setting name="OrganizationGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:Organization:Id:</value>
            </setting>
            <setting name="RoleGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:Role:Id:</value>
            </setting>
            <setting name="ApplicationGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:Application:Id:</value>
            </setting>
            <setting name="ApplicationActionGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:ApplicationAction:Id:</value>
            </setting>
            <setting name="AuthorityGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:Authority:Id:</value>
            </setting>
            <setting name="TaxonPropertyGUIDTemplate" serializeAs="String">
                <value>urn:lsid:ArtData.slu.se:TaxonProperty:Id:</value>
            </setting>
            <setting name="DyntaxaRevisionRoleIdentifier" serializeAs="String">
                <value>DyntaxaRevisionTaxonEditor</value>
            </setting>
            <setting name="PESIReferenceId" serializeAs="String">
                <value>855</value>
            </setting>
            <setting name="SpeciesObservationPageMaxSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FactorFieldMaxCount" serializeAs="String">
                <value>5</value>
            </setting>
        </ArtDatabanken.Data.Settings>
    </applicationSettings>
</configuration>
