<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.SpeciesObservation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.SpeciesObservation.Settings>
            <setting name="SpeciesObservationTypeNameElasticsearch" serializeAs="String">
                <value>species_observation</value>
            </setting>
            <setting name="IndexNameElasticsearch" serializeAs="String">
                <value>swedish_species_observation</value>
            </setting>
            <setting name="RefreshIntervalElasticsearch" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SpeciesObservationFieldMappingCacheKey" serializeAs="String">
                <value>SpeciesObservationFieldMappingCache</value>
            </setting>
            <setting name="MinActiveActionPlanId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxActiveActionPlanId" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TaxonInformationCacheKey" serializeAs="String">
                <value>TaxonInformation</value>
            </setting>
            <setting name="ContinentName" serializeAs="String">
                <value>Europe</value>
            </setting>
            <setting name="CoordinateXRt90FieldName" serializeAs="String">
                <value>CoordinateXRt90</value>
            </setting>
            <setting name="CoordinateXSweref99FieldName" serializeAs="String">
                <value>CoordinateXSweref99</value>
            </setting>
            <setting name="CoordinateYRt90FieldName" serializeAs="String">
                <value>CoordinateYRt90</value>
            </setting>
            <setting name="CoordinateYSweref99FieldName" serializeAs="String">
                <value>CoordinateYSweref99</value>
            </setting>
            <setting name="CountryCodeSweden" serializeAs="String">
                <value>SE</value>
            </setting>
            <setting name="CountryNameSweden" serializeAs="String">
                <value>Sweden</value>
            </setting>
            <setting name="CountryNameUnknownCountry" serializeAs="String">
                <value>Not known</value>
            </setting>
            <setting name="DisturbanceRadiusFieldName" serializeAs="String">
                <value>DisturbanceRadius</value>
            </setting>
            <setting name="MaxCoordinateUncertaintyInMetersOrDisturbanceRadiusFieldName"
                serializeAs="String">
                <value>MaxCoordinateUncertaintyInMetersOrDisturbanceRadius</value>
            </setting>
            <setting name="BirdNestActivityIdFieldName" serializeAs="String">
                <value>BirdNestActivityId</value>
            </setting>
            <setting name="DefaultBirdNestActivityId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeciesActivityIdFieldName" serializeAs="String">
                <value>SpeciesActivityId</value>
            </setting>
            <setting name="TaxonInformationUrl" serializeAs="String">
                <value>https://www.dyntaxa.se/Taxon/Info/</value>
            </setting>
            <setting name="RedlistedTaxaCacheKey" serializeAs="String">
                <value>RedlistedTaxaKey</value>
            </setting>
            <setting name="WebDataUnit" serializeAs="String">
                <value>Unit</value>
            </setting>
        </ArtDatabanken.WebService.SpeciesObservation.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
