<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebApplication.Dyntaxa.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebApplication.Dyntaxa.Test.Settings>
            <setting name="TestPassword" serializeAs="String">
                <value>Qwertyasdfg123</value>
            </setting>
            <setting name="TestUserName" serializeAs="String">
                <value>testuser</value>
            </setting>
            <setting name="TestApplicationIdentifier" serializeAs="String">
                <value>UserAdmin</value>
            </setting>
            <setting name="TestApplicationVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="SwedishLocale" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="TestEmailAddress" serializeAs="String">
                <value>HejHopp@artdata.slu.se</value>
            </setting>
            <setting name="ValidToDateYearIncrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SwedishLocaleId" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="ComputerTimeDifference" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TestRoleId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestOrganizationId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestRoleName" serializeAs="String">
                <value>Anställd på ArtDatabanken</value>
            </setting>
            <setting name="TestApplicationId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestUserId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestOrganizationCategoryId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestApplicationActionIdentifier" serializeAs="String">
                <value>UserAdmin.AccountController.Edit</value>
            </setting>
            <setting name="TestRevisionGUIDPrefix" serializeAs="String">
                <value>urn:lsid:dyntaxa.se:Revision</value>
            </setting>
        </ArtDatabanken.WebApplication.Dyntaxa.Test.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
