@using ArtDatabanken.WebApplication.AnalysisPortal.ViewModels.Presentation
@model PresentationTableViewModel

<ul class="ellipseList">
    <li>@Model.SelectedSpeciesObservationTableName</li>
@*@foreach (PresentationTableTypeViewModel table in Model.GetSelectedTables())
{
    <li>@table.Title</li>        
}*@
</ul>