<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Resources.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArtDatabanken.WebApplication.AnalysisPortal.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebApplication.AnalysisPortal.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resources.AppSettings>
            <setting name="ApplicationIdentifier" serializeAs="String">
                <value>AnalysisPortal</value>
            </setting>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="ApplicationUser" serializeAs="String">
                <value>AnalysisPortalUser</value>
            </setting>
            <setting name="ApplicationUserName" serializeAs="String">
                <value>AnalysisPortalUser</value>
            </setting>
            <setting name="PathToTempDirectory" serializeAs="String">
                <value>~/Temp/</value>
            </setting>
            <setting name="ApplicationContextCacheKey" serializeAs="String">
                <value>ApplicationContext:</value>
            </setting>
            <setting name="UrlToUserAdminMoneses" serializeAs="String">
                <value>https://moneses-dev.artdata.slu.se/UserAdmin/</value>
            </setting>
            <setting name="PathToSettingsDirectory" serializeAs="String">
                <value>~/Temp/Settings/</value>
            </setting>
            <setting name="UrlToDyntaxa" serializeAs="String">
                <value>https://www.dyntaxa.se</value>
            </setting>
            <setting name="PrivatePersonRoleID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SwedenCountryIsoCode" serializeAs="String">
                <value>752</value>
            </setting>
            <setting name="RedListPeriod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PrivatePersonRoleGuidRelease" serializeAs="String">
                <value>urn:lsid:artdata.slu.se:Role:2:2</value>
            </setting>
            <setting name="PrivatePersonRoleGuidDebug" serializeAs="String">
                <value>urn:lsid:artdata.slu.se:Role:2:5</value>
            </setting>
            <setting name="ExportUrlRelease" serializeAs="String">
                <value>http://silurus2-1.artdata.slu.se/export_analysisportal/</value>
            </setting>
            <setting name="ExportUrlDebug" serializeAs="String">
                <value>http://silurus2-1.artdata.slu.se/export_analysisportal_test/</value>
            </setting>
            <setting name="MaxBufferPoolSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeciesFactCacheObjectFolder" serializeAs="String">
                <value>Cache\SpeciesFact\Object</value>
            </setting>
            <setting name="SpeciesFactCacheObservationFolder" serializeAs="String">
                <value>Cache\SpeciesFact\Observation</value>
            </setting>
            <setting name="UrlToUserAdminLampetra" serializeAs="String">
                <value>https://UserAdmin.ArtDatabanken.se</value>
            </setting>
        </Resources.AppSettings>
        <ArtDatabanken.WebApplication.AnalysisPortal.AppSettings>
            <setting name="ApplicationIdentifier" serializeAs="String">
                <value>AnalysisPortal</value>
            </setting>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="ApplicationUser" serializeAs="String">
                <value>AnalysisPortalUser</value>
            </setting>
        </ArtDatabanken.WebApplication.AnalysisPortal.AppSettings>
    </applicationSettings>
    <userSettings>
        <ArtDatabanken.WebApplication.AnalysisPortal.AppSettings>
            <setting name="ApplicationUserName" serializeAs="String">
                <value>AnalysisPortal</value>
            </setting>
        </ArtDatabanken.WebApplication.AnalysisPortal.AppSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
