<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.TaxonService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.TaxonService.Settings>
            <setting name="TaxonNameCategoryCacheKey" serializeAs="String">
                <value>WebTaxonNameCategory</value>
            </setting>
            <setting name="TaxonNameUsageCacheKey" serializeAs="String">
                <value>WebTaxonNameUsage</value>
            </setting>
            <setting name="TaxonCategoryCacheKey" serializeAs="String">
                <value>WebTaxonCategory</value>
            </setting>
            <setting name="DefaultValidToDate" serializeAs="String">
                <value>2444-08-01</value>
            </setting>
            <setting name="TaxonRevisionGuidPrefix" serializeAs="String">
                <value>urn:lsid:dyntaxa.se:Revision</value>
            </setting>
            <setting name="TaxonNameStatusCacheKey" serializeAs="String">
                <value>WebTaxonNameStatus</value>
            </setting>
            <setting name="TaxaCacheKey" serializeAs="String">
                <value>WebTaxon</value>
            </setting>
            <setting name="TaxonTreesCacheKey" serializeAs="String">
                <value>TaxonTrees</value>
            </setting>
            <setting name="TaxonRevisionStateCacheKey" serializeAs="String">
                <value>WebTaxonRevisionState</value>
            </setting>
            <setting name="TaxonRevisionEventTypeCacheKey" serializeAs="String">
                <value>WebTaxonRevisionEventType</value>
            </setting>
            <setting name="TaxonRelationsCacheKey" serializeAs="String">
                <value>WebTaxonRelation</value>
            </setting>
            <setting name="TaxonTreeRootsCacheKey" serializeAs="String">
                <value>TaxonTreeRoots</value>
            </setting>
            <setting name="LumpSplitEventTypeCacheKey" serializeAs="String">
                <value>WebLumpSplitEventType</value>
            </setting>
            <setting name="TaxonAlertStatusCacheKey" serializeAs="String">
                <value>WebTaxonAlertStatus</value>
            </setting>
            <setting name="TaxonChangeStatusCacheKey" serializeAs="String">
                <value>WebTaxonChangeStatus</value>
            </setting>
            <setting name="TaxonNameCategoryTypeCacheKey" serializeAs="String">
                <value>WebTaxonNameCategoryType</value>
            </setting>
            <setting name="DatabaseDefaultCommandTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WebDataModifiedByPerson" serializeAs="String">
                <value>ModifiedByPerson</value>
            </setting>
            <setting name="WebDataCreatedByPerson" serializeAs="String">
                <value>CreatedByPerson</value>
            </setting>
            <setting name="WebDataTaxonRevisionId" serializeAs="String">
                <value>TaxonRevisionId</value>
            </setting>
            <setting name="WebDataChildrenCircularTaxonIds" serializeAs="String">
                <value>ChildrenCircularTaxonIds</value>
            </setting>
        </ArtDatabanken.WebService.TaxonService.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
