<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <client />
    <bindings>
      <customBinding>
        <binding name="UserServiceSecureSOAP11Binding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <textMessageEncoding maxReadPoolSize="2000000000" maxWritePoolSize="2000000000" messageVersion="Soap11">
            <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          </textMessageEncoding>
          <httpsTransport maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000" allowCookies="false" maxBufferSize="2000000000" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
        <binding name="UserServiceSecureBinaryBinding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <binaryMessageEncoding maxReadPoolSize="2000000000" maxWritePoolSize="2000000000" maxSessionSize="2000000000">
            <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          </binaryMessageEncoding>
          <httpsTransport maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000" allowCookies="false" maxBufferSize="2000000000" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
        <binding name="UserServiceSecureSOAP12Binding" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <mtomMessageEncoding maxReadPoolSize="2000000000" maxWritePoolSize="2000000000" maxBufferSize="2000000000">
            <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          </mtomMessageEncoding>
          <httpsTransport maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000" allowCookies="false" maxBufferSize="2000000000" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="UserServiceBehavior" name="UserService.UserService">
        <endpoint address="" behaviorConfiguration="UserServiceEnpointBehavior" binding="customBinding" bindingConfiguration="UserServiceSecureSOAP11Binding" name="UserServiceSOAP11Endpoint" contract="UserService.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" name="UserServiceMetadataExchangeEndpoint" contract="IMetadataExchange" />
        <endpoint address="Fast" behaviorConfiguration="UserServiceEnpointBehavior" binding="customBinding" bindingConfiguration="UserServiceSecureBinaryBinding" name="UserServiceBinaryEndpoint" contract="UserService.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="SOAP12" behaviorConfiguration="UserServiceEnpointBehavior" binding="customBinding" bindingConfiguration="UserServiceSecureSOAP12Binding" name="UserServiceSOAP12Endpoint" contract="UserService.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UserServiceEnpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2000000000" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="UserServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceTelemetry />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="serviceTelemetry" type="Microsoft.ApplicationInsights.Wcf.ServiceTelemetryExtensionElement, Microsoft.AI.Wcf" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>