 @*Debug view*@
<div class="row-fluid content-wrapper" style="margin-top: 40px;">                                                        
    <div class="alert bg-warning">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h2>Debug information</h2>
        @Html.Action("DebugView", "Debug")            
    </div>        
</div> 
                
@*Tutorial view*@
<div class="row-fluid content-wrapper">
    <div class="alert bg-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h2>Tutorials</h2>
        @Html.Action("TutorialHeader", "Tutorial")                           
    </div>            
</div> 
                