@model object
<div class="partialViewErrorDiv">
    <table style="height: 100%; width: 100%">
        <tr>
            <td>
                <img class="center" src="~/Content/images/exclamation.png" alt="Error" title="@Resources.Resource.SharedErrorOccurredInPartialView" />
            </td>
        </tr>
    </table>
</div>
