@using ArtDatabanken.WebApplication.AnalysisPortal.Buttons
@model ArtDatabanken.WebApplication.AnalysisPortal.Buttons.ButtonGroups.ButtonGroupModelBase

<div class="btn-toolbar" style="padding-left: 4px;">  
    <h3>@Model.Title</h3>

    @foreach (StateButtonModel button in Model.Buttons)
    {        
        @Html.StateButton(button, true)
    }       
</div>