<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtDatabanken.WebService.Client.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.Client.Test.Settings>
            <setting name="TestPassword" serializeAs="String">
                <value>Qwertyasdfg123</value>
            </setting>
            <setting name="TestUserName" serializeAs="String">
                <value>testuser</value>
            </setting>
            <setting name="TestApplicationIdentifier" serializeAs="String">
                <value>UserAdmin</value>
            </setting>
            <setting name="TestApplicationVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="SwedishLocale" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="TestEmailAddress" serializeAs="String">
                <value>HejHopp@artdata.slu.se</value>
            </setting>
            <setting name="ValidToDateYearIncrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SwedishLocaleId" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="ComputerTimeDifference" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TestRoleId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestOrganizationId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestRoleName" serializeAs="String">
                <value>Anställd på ArtDatabanken</value>
            </setting>
            <setting name="TestApplicationId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestUserId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestOrganizationCategoryId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestApplicationActionIdentifier" serializeAs="String">
                <value>UserAdmin.AccountController.Edit</value>
            </setting>
            <setting name="DyntaxaApplicationIdentifier" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
            <setting name="TestTaxonId" serializeAs="String">
                <value>2000446</value>
            </setting>
            <setting name="TestRevisionGUIDPrefix" serializeAs="String">
                <value>urn:lsid:dyntaxa.se:Revision</value>
            </setting>
            <setting name="DyntaxaWriterUserName" serializeAs="String">
                <value>DyntaxaWriter</value>
            </setting>
            <setting name="DyntaxaWriterPassword" serializeAs="String">
                <value>DYNTAXAwriter123</value>
            </setting>
            <setting name="DrumGrasshopperId" serializeAs="String">
                <value>101656</value>
            </setting>
            <setting name="UpplandGUID" serializeAs="String">
                <value>URN:LSID:artportalen.se:area:DataSet16Feature13</value>
            </setting>
            <setting name="DalarnaGUID" serializeAs="String">
                <value>URN:LSID:artportalen.se:area:DataSet16Feature16</value>
            </setting>
            <setting name="BlekingeGUID" serializeAs="String">
                <value>URN:LSID:artportalen.se:area:DataSet16Feature2</value>
            </setting>
            <setting name="TwiteId" serializeAs="String">
                <value>102124</value>
            </setting>
            <setting name="MinNoOfDrumGrasshoppers" serializeAs="String">
                <value>374</value>
            </setting>
            <setting name="MinNoOfBeavers" serializeAs="String">
                <value>284</value>
            </setting>
            <setting name="AreaOfOccupancyTestMax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AreaOfOccupancyTestIncrease" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExtentOfOccurrenceTestMax" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ExtentOfOccurrenceTestIncrease" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxProportionLocalPopulationTestMin" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="MaxSizeLocalPopulationTestMax" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="MaxSizeLocalPopulationTestIncrease" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NumberOfLoactionsTestMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PopulationReductionA1TestMin" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="PopulationReductionA2TestMin" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="PopulationReductionA3TestMin" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="PopulationReductionA4TestMin" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="PopulationSizeTestMax" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="PopulationSizeTestIncrease" serializeAs="String">
                <value>50</value>
            </setting>
        </ArtDatabanken.WebService.Client.Test.Settings>
    </applicationSettings>
</configuration>