@using ArtDatabanken.WebApplication.AnalysisPortal.Utils.Helpers
@using ArtDatabanken.WebApplication.AnalysisPortal.ViewModels.Result.ResultViews.Tables
@using Resources
@model TablesResultGroup

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Resource.ResultTablesDescription;
}
@Html.Partial("BreadCrumbTitle_Partial", SessionHandler.CurrentPage)
@*<h3 class="page-title">@Resource.ResultGroupTables&nbsp;<img src="@Url.Content("~/Content/images/table-multiple-icon_24.png")"/></h3>*@
@Html.Partial("ResultGroup_Partial", Model)
