<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtDatabanken.IO.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.IO.Test.Settings>
            <setting name="TestPassword" serializeAs="String">
                <value>Qwertyasdfg123</value>
            </setting>
            <setting name="TestUserName" serializeAs="String">
                <value>testuser</value>
            </setting>
        </ArtDatabanken.IO.Test.Settings>
    </applicationSettings>
</configuration>