<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.TaxonService.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.TaxonService.Test.Settings>
            <setting name="TestApplicationIdentifier" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
            <setting name="TestUserName" serializeAs="String">
                <value>testuser</value>
            </setting>
            <setting name="TestPassword" serializeAs="String">
                <value>Qwertyasdfg123</value>
            </setting>
            <setting name="TestCountryISOCode" serializeAs="String">
                <value>752</value>
            </setting>
            <setting name="TestLocaleId" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="TestUserId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComputerTimeDifference" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UserDyntaxaReader" serializeAs="String">
                <value>DyntaxaReader</value>
            </setting>
            <setting name="UserDyntaxaReaderPassword" serializeAs="String">
                <value>DYNTAXAReader123</value>
            </setting>
            <setting name="TestRevisionGUIDPrefix" serializeAs="String">
                <value>urn:lsid:dyntaxa.se:Revision</value>
            </setting>
        </ArtDatabanken.WebService.TaxonService.Test.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
