<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.Proxy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.Proxy.Settings>
            <setting name="UserServiceClientTokenKey" serializeAs="String">
                <value>UserServiceClientToken</value>
            </setting>
            <setting name="MaxOpenWebServiceConnections" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultTransactionTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UserServiceLocalAddress" serializeAs="String">
                <value>localhost:1479/UserService/UserService.svc</value>
            </setting>
            <setting name="UserServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/UserService/UserService.svc</value>
            </setting>
            <setting name="GeoReferenceServiceSilurus2Address" serializeAs="String">
                <value>silurus2-1.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc</value>
            </setting>
            <setting name="GeoReferenceServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/GeoReferenceService.svc</value>
            </setting>
            <setting name="GeoReferenceServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationSOAPServiceMonesesAddress"
                serializeAs="String">
                <value>moneses-dev.artdata.slu.se/SwedishSpeciesObservationSOAPService/SwedishSpeciesObservationSOAPService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationSOAPServiceLocalAddress"
                serializeAs="String">
                <value>localhost:50058/SwedishSpeciesObservationSOAPService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationSOAPServiceSilurus2Address"
                serializeAs="String">
                <value>silurus2-1.artdata.slu.se/SwedishSpeciesObservationSOAPService/SwedishSpeciesObservationSOAPService.svc</value>
            </setting>
            <setting name="TaxonServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/TaxonService.svc</value>
            </setting>
            <setting name="TaxonServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc</value>
            </setting>
            <setting name="DyntaxaInternalServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/DyntaxaInternalService.svc</value>
            </setting>
            <setting name="DyntaxaInternalServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/TaxonService/DyntaxaInternalService.svc</value>
            </setting>
            <setting name="DyntaxaInternalServiceArtDatabankenSoaAddress"
                serializeAs="String">
                <value>Taxon.ArtDatabankenSOA.se/DyntaxaInternalService.svc</value>
            </setting>
            <setting name="UserServiceAndrenaAddress" serializeAs="String">
                <value>andrena2-1.artdatadb.slu.se/UserService/UserService.svc</value>
            </setting>
            <setting name="NorwayTaxonServiceAddress" serializeAs="String">
                <value>webtjenester.artsdatabanken.no/Artsnavnebase.asmx</value>
            </setting>
            <setting name="UserServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>User.ArtDatabankenSOA.se/UserService.svc</value>
            </setting>
            <setting name="GeoReferenceServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>GeoReference.ArtDatabankenSOA.se/GeoReferenceService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationServiceMonesesAddress"
                serializeAs="String">
                <value>moneses-dev.artdata.slu.se/SwedishSpeciesObservationService/SwedishSpeciesObservationService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationServiceLocalAddress"
                serializeAs="String">
                <value>localhost:50058/SwedishSpeciesObservationService.svc</value>
            </setting>
            <setting name="SwedishSpeciesObservationServiceArtDatabankenSoaAddress"
                serializeAs="String">
                <value>SwedishSpeciesObservation.ArtDatabankenSOA.se/SwedishSpeciesObservationService.svc</value>
            </setting>
            <setting name="TaxonServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>Taxon.ArtDatabankenSOA.se/TaxonService.svc</value>
            </setting>
            <setting name="PesiNameServiceEmailRecipient" serializeAs="String">
                <value>maria.ripa@slu.se</value>
            </setting>
            <setting name="PesiNameServiceEmailSender" serializeAs="String">
                <value>dyntaxa@slu.se</value>
            </setting>
            <setting name="AnalysisServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc</value>
            </setting>
            <setting name="AnalysisServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/AnalysisService.svc</value>
            </setting>
            <setting name="AnalysisServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>Analysis.ArtDatabankenSOA.se/AnalysisService.svc</value>
            </setting>
            <setting name="SpeciesObservationHarvestServiceMonesesAddress"
                serializeAs="String">
                <value>moneses-dev.artdata.slu.se/SpeciesObservationHarvestService/SpeciesObservationHarvestService.svc</value>
            </setting>
            <setting name="SpeciesObservationHarvestServiceLocalAddress"
                serializeAs="String">
                <value>localhost:50058/SpeciesObservationHarvestService.svc</value>
            </setting>
            <setting name="SpeciesObservationHarvestServiceSilurus2Address"
                serializeAs="String">
                <value>silurus2-1.artdata.slu.se/SpeciesObservationHarvestService/SpeciesObservationHarvestService.svc</value>
            </setting>
            <setting name="MvmServiceAddress" serializeAs="String">
                <value>miljodata.slu.se/mvm/ws/SpeciesObservationChangeService.svc</value>
            </setting>
            <setting name="NorsServiceAddress" serializeAs="String">
                <value>aquasupport.slu.se/Nors/SpeciesObservationChangeService.svc</value>
            </setting>
            <setting name="SersServiceAddress" serializeAs="String">
                <value>aquasupport.slu.se/Sers/SpeciesObservationChangeService.svc</value>
            </setting>
            <setting name="TaxonAttributeServiceArtDatabankenSoaAddress"
                serializeAs="String">
                <value>taxonattribute.artdatabankensoa.se/TaxonAttributeService.svc</value>
            </setting>
            <setting name="TaxonAttributeServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/TaxonAttributeService/TaxonAttributeService.svc</value>
            </setting>
            <setting name="TaxonAttributeServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/TaxonAttributeService.svc</value>
            </setting>
            <setting name="PictureServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>Picture.artdatabankensoa.se/PictureService.svc</value>
            </setting>
            <setting name="PictureServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/PictureService/PictureService.svc</value>
            </setting>
            <setting name="PictureServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/PictureService.svc</value>
            </setting>
            <setting name="ReferenceServiceArtDatabankenSoaAddress" serializeAs="String">
                <value>reference.artdatabankensoa.se/ReferenceService.svc</value>
            </setting>
            <setting name="ReferenceServiceMonesesAddress" serializeAs="String">
                <value>moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc</value>
            </setting>
            <setting name="ReferenceServiceLocalAddress" serializeAs="String">
                <value>localhost:50058/ReferenceService.svc</value>
            </setting>
            <setting name="KulServiceAddress" serializeAs="String">
                <value>aquasupport.slu.se/Kul/SpeciesObservationChangeService.svc</value>
            </setting>
            <setting name="UserServiceSpeciesFactTestAddress" serializeAs="String">
                <value>artfakta-dev.artdata.slu.se/UserService/UserService.svc</value>
            </setting>
            <setting name="UserServiceSystemTestAddress" serializeAs="String">
                <value>UserService-st.artdata.slu.se/UserService.svc</value>
            </setting>
            <setting name="UserServiceTwoBlueberriesTestAddress" serializeAs="String">
                <value>UserService-slw-dev.artdata.slu.se/UserService.svc</value>
            </setting>
            <setting name="TaxonServiceImplementation" serializeAs="String">
                <value>TaxonService.svc</value>
            </setting>
            <setting name="DyntaxaInternalServiceImplementation" serializeAs="String">
                <value>DyntaxaInternalService.svc</value>
            </setting>
            <setting name="WramServiceAddress" serializeAs="String">
                <value>130.239.46.17:82/WramSpeciesDataChangeService.svc</value>
            </setting>
            <setting name="MvmServiceAddressTest" serializeAs="String">
                <value>spodosol.slu.se/DV/mvm_QA/ws/SpeciesObservationChangeService.svc</value>
            </setting>
            <setting name="UserServiceArtportalenTestAddress" serializeAs="String">
                <value>Userservice-ap-st.artdata.slu.se/UserService.svc</value>
            </setting>
        </ArtDatabanken.WebService.Proxy.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeoReferenceServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="SwedishSpeciesObservationSOAPServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="UserServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="PESINameServiceBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ArtsnavnebaseSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AnalysisServiceSOAP11Endpoint" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TaxonServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="TaxonServiceSOAP11Endpoint1">
                    <security mode="Transport" />
                </binding>
                <binding name="AnalysisServiceSOAP11Endpoint1">
                    <security mode="Transport" />
                </binding>
                <binding name="SwedishSpeciesObservationServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="AnalysisServiceSOAP11Endpoint2">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISpeciesObservationChangeService" />
                <binding name="BasicHttpBinding_ISpeciesObservationChangeService1" />
                <binding name="BasicHttpBinding_IWramSpeciesDataChangeService" />
                <binding name="BasicHttpBinding_ISpeciesObservationChangeService2" />
                <binding name="TaxonAttributeServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="SpeciesObservationHarvestServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="ReferenceServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="PictureServiceSOAP11Endpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISpeciesObservationChangeService3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GeoReferenceServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="SwedishSpeciesObservationSOAPServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="AnalysisServiceBinaryEndpoint">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </binaryMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" requireClientCertificate="false" />
                </binding>
                <binding name="UserServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="ArtsnavnebaseSoap12">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="TaxonServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="TaxonServiceBinaryEndpoint1">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="AnalysisServiceBinaryEndpoint1">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="SwedishSpeciesObservationServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="AnalysisServiceBinaryEndpoint2">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="TaxonAttributeServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="SpeciesObservationHarvestServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="ReferenceServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="PictureServiceBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="TaxonServiceDyntaxaBinaryEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="GeoReferenceServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="SwedishSpeciesObservationSOAPServiceSOAP12Endpoint"
                    messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="UserServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="AnalysisServiceSOAP12Endpoint" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="TaxonServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="TaxonServiceSOAP12Endpoint1" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="AnalysisServiceSOAP12Endpoint1" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="SwedishSpeciesObservationServiceSOAP12Endpoint"
                    messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="AnalysisServiceSOAP12Endpoint2" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="TaxonAttributeServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="SpeciesObservationHarvestServiceSOAP12Endpoint"
                    messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISpeciesObservationChangeService" />
                <binding name="ReferenceServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="PictureServiceSOAP12Endpoint" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc"
                binding="basicHttpBinding" bindingConfiguration="AnalysisServiceSOAP11Endpoint"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/Fast"
                binding="customBinding" bindingConfiguration="AnalysisServiceBinaryEndpoint"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="AnalysisServiceSOAP12Endpoint"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://www.eu-nomen.eu/portal/soap.php" binding="basicHttpBinding"
                bindingConfiguration="PESINameServiceBinding" contract="PESINameService.PESINameServicePortType"
                name="PESINameServicePort" />
            <endpoint address="http://webtjenester.artsdatabanken.no/Artsnavnebase.asmx"
                binding="basicHttpBinding" bindingConfiguration="ArtsnavnebaseSoap"
                contract="NorwayTaxonService.ArtsnavnebaseSoap" name="ArtsnavnebaseSoap" />
            <endpoint address="http://webtjenester.artsdatabanken.no/Artsnavnebase.asmx"
                binding="customBinding" bindingConfiguration="ArtsnavnebaseSoap12"
                contract="NorwayTaxonService.ArtsnavnebaseSoap" name="ArtsnavnebaseSoap12" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc"
                binding="basicHttpBinding" bindingConfiguration="TaxonServiceSOAP11Endpoint"
                contract="TaxonService.ITaxonService" name="TaxonServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc/Fast"
                binding="customBinding" bindingConfiguration="TaxonServiceBinaryEndpoint"
                contract="TaxonService.ITaxonService" name="TaxonServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="TaxonServiceSOAP12Endpoint"
                contract="TaxonService.ITaxonService" name="TaxonServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc"
                binding="basicHttpBinding" bindingConfiguration="TaxonServiceSOAP11Endpoint1"
                contract="TaxonService.ITaxonService" name="TaxonServiceSOAP11Endpoint1" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc/Fast"
                binding="customBinding" bindingConfiguration="TaxonServiceBinaryEndpoint1"
                contract="TaxonService.ITaxonService" name="TaxonServiceBinaryEndpoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="TaxonServiceSOAP12Endpoint1"
                contract="TaxonService.ITaxonService" name="TaxonServiceSOAP12Endpoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc"
                binding="basicHttpBinding" bindingConfiguration="AnalysisServiceSOAP11Endpoint1"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP11Endpoint1" />
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/Fast"
                binding="customBinding" bindingConfiguration="AnalysisServiceBinaryEndpoint1"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceBinaryEndpoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="AnalysisServiceSOAP12Endpoint1"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP12Endpoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationService/SwedishSpeciesObservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="SwedishSpeciesObservationServiceSOAP11Endpoint"
                contract="SwedishSpeciesObservationService.ISwedishSpeciesObservationService"
                name="SwedishSpeciesObservationServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationService/SwedishSpeciesObservationService.svc/Fast"
                binding="customBinding" bindingConfiguration="SwedishSpeciesObservationServiceBinaryEndpoint"
                contract="SwedishSpeciesObservationService.ISwedishSpeciesObservationService"
                name="SwedishSpeciesObservationServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationService/SwedishSpeciesObservationService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="SwedishSpeciesObservationServiceSOAP12Endpoint"
                contract="SwedishSpeciesObservationService.ISwedishSpeciesObservationService"
                name="SwedishSpeciesObservationServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc"
                binding="basicHttpBinding" bindingConfiguration="AnalysisServiceSOAP11Endpoint2"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP11Endpoint2" />
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/Fast"
                binding="customBinding" bindingConfiguration="AnalysisServiceBinaryEndpoint2"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceBinaryEndpoint2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/AnalysisService/AnalysisService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="AnalysisServiceSOAP12Endpoint2"
                contract="AnalysisService.IAnalysisService" name="AnalysisServiceSOAP12Endpoint2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc"
                binding="basicHttpBinding" bindingConfiguration="GeoReferenceServiceSOAP11Endpoint"
                contract="GeoReferenceService.IGeoReferenceService" name="GeoReferenceServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/Fast"
                binding="customBinding" bindingConfiguration="GeoReferenceServiceBinaryEndpoint"
                contract="GeoReferenceService.IGeoReferenceService" name="GeoReferenceServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="GeoReferenceServiceSOAP12Endpoint"
                contract="GeoReferenceService.IGeoReferenceService" name="GeoReferenceServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/UserService/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="UserServiceSOAP11Endpoint"
                contract="UserService.IUserService" name="UserServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/UserService/UserService.svc/Fast"
                binding="customBinding" bindingConfiguration="UserServiceBinaryEndpoint"
                contract="UserService.IUserService" name="UserServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/UserService/UserService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="UserServiceSOAP12Endpoint"
                contract="UserService.IUserService" name="UserServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationSOAPService/SwedishSpeciesObservationSOAPService.svc"
                binding="basicHttpBinding" bindingConfiguration="SwedishSpeciesObservationSOAPServiceSOAP11Endpoint"
                contract="SwedishSpeciesObservationSOAPService.ISwedishSpeciesObservationSOAPService"
                name="SwedishSpeciesObservationSOAPServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationSOAPService/SwedishSpeciesObservationSOAPService.svc/Fast"
                binding="customBinding" bindingConfiguration="SwedishSpeciesObservationSOAPServiceBinaryEndpoint"
                contract="SwedishSpeciesObservationSOAPService.ISwedishSpeciesObservationSOAPService"
                name="SwedishSpeciesObservationSOAPServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SwedishSpeciesObservationSOAPService/SwedishSpeciesObservationSOAPService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="SwedishSpeciesObservationSOAPServiceSOAP12Endpoint"
                contract="SwedishSpeciesObservationSOAPService.ISwedishSpeciesObservationSOAPService"
                name="SwedishSpeciesObservationSOAPServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://130.239.46.38:82/WramSpeciesDataChangeService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWramSpeciesDataChangeService"
                contract="WramService.IWramSpeciesDataChangeService" name="BasicHttpBinding_IWramSpeciesDataChangeService" />
            <endpoint address="http://aquasupport.slu.se/Sers/SpeciesObservationChangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpeciesObservationChangeService2"
                contract="SersService.ISpeciesObservationChangeService" name="BasicHttpBinding_ISpeciesObservationChangeService2" />
            <endpoint address="http://aquasupport.slu.se/SpeciesObservationChangeService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpeciesObservationChangeService1"
                contract="NorsService.ISpeciesObservationChangeService" name="BasicHttpBinding_ISpeciesObservationChangeService1" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonAttributeService/TaxonAttributeService.svc"
                binding="basicHttpBinding" bindingConfiguration="TaxonAttributeServiceSOAP11Endpoint"
                contract="TaxonAttributeService.ITaxonAttributeService" name="TaxonAttributeServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonAttributeService/TaxonAttributeService.svc/Fast"
                binding="customBinding" bindingConfiguration="TaxonAttributeServiceBinaryEndpoint"
                contract="TaxonAttributeService.ITaxonAttributeService" name="TaxonAttributeServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonAttributeService/TaxonAttributeService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="TaxonAttributeServiceSOAP12Endpoint"
                contract="TaxonAttributeService.ITaxonAttributeService" name="TaxonAttributeServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SpeciesObservationHarvestService/SpeciesObservationHarvestService.svc"
                binding="basicHttpBinding" bindingConfiguration="SpeciesObservationHarvestServiceSOAP11Endpoint"
                contract="SpeciesObservationHarvestService.ISpeciesObservationHarvestService"
                name="SpeciesObservationHarvestServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/SpeciesObservationHarvestService/SpeciesObservationHarvestService.svc/Fast"
                binding="customBinding" bindingConfiguration="SpeciesObservationHarvestServiceBinaryEndpoint"
                contract="SpeciesObservationHarvestService.ISpeciesObservationHarvestService"
                name="SpeciesObservationHarvestServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/SpeciesObservationHarvestService/SpeciesObservationHarvestService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="SpeciesObservationHarvestServiceSOAP12Endpoint"
                contract="SpeciesObservationHarvestService.ISpeciesObservationHarvestService"
                name="SpeciesObservationHarvestServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://miljodata.slu.se/mvm/ws/SpeciesObservationChangeService.svc/soap11"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpeciesObservationChangeService"
                contract="MvmService.ISpeciesObservationChangeService" name="BasicHttpBinding_ISpeciesObservationChangeService" />
            <endpoint address="http://miljodata.slu.se/mvm/ws/SpeciesObservationChangeService.svc/soap12"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISpeciesObservationChangeService"
                contract="MvmService.ISpeciesObservationChangeService" name="WSHttpBinding_ISpeciesObservationChangeService">
                <identity>
                    <userPrincipalName value="DVPortal@ad.slu.se" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc"
                binding="basicHttpBinding" bindingConfiguration="ReferenceServiceSOAP11Endpoint"
                contract="ReferenceService.IReferenceService" name="ReferenceServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/Fast"
                binding="customBinding" bindingConfiguration="ReferenceServiceBinaryEndpoint"
                contract="ReferenceService.IReferenceService" name="ReferenceServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="ReferenceServiceSOAP12Endpoint"
                contract="ReferenceService.IReferenceService" name="ReferenceServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/PictureService/PictureService.svc"
                binding="basicHttpBinding" bindingConfiguration="PictureServiceSOAP11Endpoint"
                contract="PictureService.IPictureService" name="PictureServiceSOAP11Endpoint" />
            <endpoint address="https://moneses-dev.artdata.slu.se/PictureService/PictureService.svc/Fast"
                binding="customBinding" bindingConfiguration="PictureServiceBinaryEndpoint"
                contract="PictureService.IPictureService" name="PictureServiceBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://moneses-dev.artdata.slu.se/PictureService/PictureService.svc/SOAP12"
                binding="wsHttpBinding" bindingConfiguration="PictureServiceSOAP12Endpoint"
                contract="PictureService.IPictureService" name="PictureServiceSOAP12Endpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://aquasupport.slu.se/Kul/SpeciesObservationChangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpeciesObservationChangeService3"
                contract="KulService.ISpeciesObservationChangeService" name="BasicHttpBinding_ISpeciesObservationChangeService3" />
            <endpoint address="https://moneses-dev.artdata.slu.se/TaxonService/DyntaxaInternalService.svc/Fast"
                binding="customBinding" bindingConfiguration="TaxonServiceDyntaxaBinaryEndpoint"
                contract="DyntaxaInternalService.IDyntaxaInternalService"
                name="TaxonServiceDyntaxaBinaryEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
