<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.0.3" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Log4Slack" version="1.1.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>