<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <log4net xdt:Transform="Replace">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SlackAppender" type="Log4Slack.SlackAppender, Log4Slack">
      <WebhookUrl value="https://hooks.slack.com/services/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" />
      <!-- Your Slack webhook URL -->
      <Channel value="#dyntaxa-log-dev" />
      <!-- Your Slack channel to post to -->
      <Username value="Log4Slack" />
      <!-- The username to post as -->
      <IconUrl value="" />
      <IconEmoji value=":ghost:" />
      <!-- Include an emoji to add a little chacter to your message -->
      <AddAttachment value="true" />
      <!-- Include an attachment on the Slack message with additional details -->
      <AddExceptionTraceField value="true" />
      <!-- If an exception occurs, add its trace as a field on the message attachment -->
      <UsernameAppendLoggerName value="true" />
      <!-- Append the current logger name to the Slack username -->
      <filter type="log4net.Filter.PropertyFilter">
        <Key value="log4net:HostName" />
        <StringToMatch value="slw-dev" />
      </filter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- Only Errors to Slack -->
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="SlackAppender" />
    </root>
  </log4net>
  <system.net xdt:Transform="Insert">
    <defaultProxy useDefaultCredentials="false">
      <proxy usesystemdefault="true" proxyaddress="http://slu-dc-proxy.slu.se:3128" bypassonlocal="true" />
    </defaultProxy>
  </system.net>
</configuration>