<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Resources.DyntaxaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArtDatabanken.WebApplication.Dyntaxa.DyntaxaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resources.DyntaxaSettings>
            <setting name="DyntaxaUserName" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
            <setting name="DyntaxaApplicationIdentifier" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
            <setting name="LSIDString" serializeAs="String">
                <value>urn:lsid:dyntaxa.se:taxon:[TaxonId]</value>
            </setting>
            <setting name="UrlToGetGBIFTaxonIdByName" serializeAs="String">
                <value>http://api.gbif.org/v0.9/species/match?verbose=false&amp;name=[TaxonName]</value>
            </setting>
            <setting name="UrlToGetGBIFTaxonInformation" serializeAs="String">
                <value>http://www.gbif.org/species/[TaxonId]</value>
            </setting>
            <setting name="TaxonCategorySortOrderSpecies" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="UrlToGetSpeciesGatewayPhotos" serializeAs="String">
                <value>http://www.artportalen.se/media/taxon/[TaxonId]</value>
            </setting>
            <setting name="UrlToGetArtDatabankenRedlistInformation" serializeAs="String">
                <value>http://artfakta.artdatabanken.se/taxon/[TaxonId]</value>
            </setting>
            <setting name="UrlToGetGoogleSearchResults" serializeAs="String">
                <value>http://www.google.se/search?&amp;ie=UTF-8&amp;q=[TaxonName]</value>
            </setting>
            <setting name="UrlToGetFaunaEuropeaTaxonInformation" serializeAs="String">
                <value>http://www.faunaeur.org/full_results.php?id=[Id]</value>
            </setting>
            <setting name="UrlToUBioLinkitService" serializeAs="String">
                <value>http://www.ubio.org/tools/linkit.php?map%5B%5D=all&amp;url=[Url]</value>
            </setting>
            <setting name="UrlToGetITISTaxonInformation" serializeAs="String">
                <value>http://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&amp;search_value=[Id]</value>
            </setting>
            <setting name="UrlToGetEncyclopediaOfLifeTaxonInformation" serializeAs="String">
                <value>http://www.eol.org/search/[TaxonName]</value>
            </setting>
            <setting name="UrlToGetPESITaxonInformation" serializeAs="String">
                <value>http://www.eu-nomen.eu/portal/taxon.php?GUID=[GUID]</value>
            </setting>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="PathToTempDirectory" serializeAs="String">
                <value>~/Temp/</value>
            </setting>
            <setting name="DyntaxaTaxonEditor" serializeAs="String">
                <value>DyntaxaTaxonEditor</value>
            </setting>
            <setting name="TaxonRevisionAdministrator" serializeAs="String">
                <value>TaxonRevisionAdministrator</value>
            </setting>
            <setting name="DyntaxaApplicationUserName" serializeAs="String">
                <value>DyntaxaUser</value>
            </setting>
            <setting name="SuperAdminRoleId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserAdministrationAuthorityIdentifier" serializeAs="String">
                <value>UserAdministration</value>
            </setting>
            <setting name="UserGroupAdmninistationAuthorityIdentifier" serializeAs="String">
                <value>UserGroupAdministration</value>
            </setting>
            <setting name="TaxonRevisionEditor" serializeAs="String">
                <value>DyntaxaRevisionTaxonEditor</value>
            </setting>
            <setting name="RevisionSelctionTaxonStatusCheckBoxId" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="RevisionSelectAllStatusCheckBoxId" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DyntaxaApplicationId" serializeAs="String">
                <value>760</value>
            </setting>
            <setting name="UrlToGetUserAdminUpdateRolesLink" serializeAs="String">
                <value>https://lampetra2-1.artdata.slu.se/UserAdmin/Role/ListUsers/715</value>
            </setting>
            <setting name="UserAdminTaxonEditorRoleID" serializeAs="String">
                <value>1396</value>
            </setting>
            <setting name="AnamorphTaxonNameCategoryId" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GenusTaxonCategoryId" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="CommonNameCategoryId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UrlToArtDatabankenHomePage" serializeAs="String">
                <value>http://www.slu.se/artdatabanken/</value>
            </setting>
            <setting name="UrlToArtDatabankenServiceStatusPage" serializeAs="String">
                <value>http://www.artdatabanken.se/vaara-tjaenster/driftstatus/?st=driftstatus</value>
            </setting>
            <setting name="EmailAdressToDyntaxaSupport" serializeAs="String">
                <value>dthuvudadministrator@slu.se</value>
            </setting>
            <setting name="DyntaxaDefaultReferenceId" serializeAs="String">
                <value>1054</value>
            </setting>
            <setting name="DyntaxaDefaultReferenceIdMoneses" serializeAs="String">
                <value>1054</value>
            </setting>
            <setting name="DyntaxaUrl" serializeAs="String">
                <value>http://www.dyntaxa.se/</value>
            </setting>
            <setting name="UrlToGetUserAdminUpdateRolesLinkMoneses" serializeAs="String">
                <value>https://moneses-dev.artdata.slu.se/UserAdmin/Role/ListUsers/1396</value>
            </setting>
            <setting name="ApprovedNameUsageId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemovedNameUsageId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UrlToWormsTaxonInformation" serializeAs="String">
                <value>http://www.marinespecies.org/aphia.php?p=taxdetails&amp;id=[Id]</value>
            </setting>
            <setting name="UrlToNordicMicroalgaeTaxonInformation" serializeAs="String">
                <value>http://nordicmicroalgae.org/taxon/[TaxonName]</value>
            </setting>
            <setting name="UrlToAlgaebaseTaxonInformation" serializeAs="String">
                <value>http://algaebase.org/search/species/detail/?species_id=[Id]</value>
            </setting>
            <setting name="UrlToBiodiversityHeritageLibrary" serializeAs="String">
                <value>http://www.biodiversitylibrary.org/name/[TaxonName]</value>
            </setting>
            <setting name="UrlToSwedishLifeWatchHomePage" serializeAs="String">
                <value>http://www.slu.se/sv/centrumbildningar-och-projekt/svenska-lifewatch/</value>
            </setting>
            <setting name="UrlToDyntaxaHomePage" serializeAs="String">
                <value>http://www.slu.se/dyntaxa/</value>
            </setting>
            <setting name="ApplicationContextCacheKey" serializeAs="String">
                <value>ApplicationContext:</value>
            </setting>
            <setting name="UrlToUserAdminLampetra" serializeAs="String">
                <value>https://UserAdmin.ArtDatabanken.se</value>
            </setting>
            <setting name="UrlToUserAdminMoneses" serializeAs="String">
                <value>https://moneses-dev.artdata.slu.se/UserAdmin/</value>
            </setting>
            <setting name="UrlToSvenskaArtprojektetHomePage" serializeAs="String">
                <value>http://www.slu.se/sv/centrumbildningar-och-projekt/artdatabanken/svenska-artprojektet1/</value>
            </setting>
            <setting name="UrlToSLUHomePage" serializeAs="String">
                <value>http://www.slu.se/</value>
            </setting>
            <setting name="SpeciecFactExcelLeafColor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SpeciecFactExcelMainHeaderColor" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="SpeciecFactExcelTableHeaderColor" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SpeciecFactExcelHeaderColor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UrlToDyntaxaFullVersion" serializeAs="String">
                <value>https://www.dyntaxa.se/?mode=full</value>
            </setting>
            <setting name="SpeciecFactExcelTableBackgroundColor" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SpeciecFactExcelTableInfoHeaderColor" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="UrlToDyntaxaInfo" serializeAs="String">
                <value>https://www.dyntaxa.se/Taxon/Info/[TaxonId]</value>
            </setting>
            <setting name="SpeciecFactExcelMainHeaderTextColor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpeciesFactExcelHostTextColor" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="RedListPeriod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpeciesCategorySortOrder" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="SpeciesFactAuthorityIdentifier" serializeAs="String">
                <value>SpeciesFact</value>
            </setting>
            <setting name="ApplicationTransactionContextCacheKey" serializeAs="String">
                <value>ApplicationTransactionContext:</value>
            </setting>
            <setting name="UrlToGetArtfaktaInformation" serializeAs="String">
                <value>http://artfakta.artdatabanken.se/taxon/[TaxonId]</value>
            </setting>
            <setting name="UrlToGetNobanisInformation" serializeAs="String">
                <value>https://www.nobanis.org/search-alien-species/?SpeciesQuery=[TaxonName]</value>
            </setting>
            <setting name="UrlToGetSkudInformation" serializeAs="String">
                <value>http://www.slu.se/centrumbildningar-och-projekt/skud/vaxtnamn/vaxtnamn/</value>
            </setting>
        </Resources.DyntaxaSettings>
        <ArtDatabanken.WebApplication.Dyntaxa.DyntaxaSettings>
            <setting name="DyntaxaUserName" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
            <setting name="DyntaxaApplicationIdentifier" serializeAs="String">
                <value>Dyntaxa</value>
            </setting>
        </ArtDatabanken.WebApplication.Dyntaxa.DyntaxaSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
