@using Resources
@model ArtDatabanken.WebApplication.AnalysisPortal.ViewModels.Filter.Taxa.TaxaFilterFromFactorViewModel


 <div>
    <h2>@Model.Factor.Label</h2>
    <br />
    @Resource.FactorIsOnlyAHeaderTitle!
</div>