<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtDatabanken.Data.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.Data.Test.Settings>
            <setting name="UserServiceMonesesFastAddress" serializeAs="String">
                <value>https://moneses-dev.artdata.slu.se/UserService/UserService.svc/Fast</value>
            </setting>
            <setting name="UserServiceName" serializeAs="String">
                <value>UserService</value>
            </setting>
            <setting name="SwedishLocaleISOCode" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="TestUserName" serializeAs="String">
                <value>testuser</value>
            </setting>
            <setting name="SwedishLocaleId" serializeAs="String">
                <value>581</value>
            </setting>
            <setting name="SwedishLocaleName" serializeAs="String">
                <value>Swedish (Sweden)</value>
            </setting>
            <setting name="SwedishLocaleNativeName" serializeAs="String">
                <value>svenska (Sverige)</value>
            </setting>
            <setting name="SwedishCountryId" serializeAs="String">
                <value>199</value>
            </setting>
            <setting name="SwedishCountryISOCode" serializeAs="String">
                <value>SE</value>
            </setting>
            <setting name="SwedishCountryISOName" serializeAs="String">
                <value>SWEDEN</value>
            </setting>
            <setting name="SwedishCountryName" serializeAs="String">
                <value>Sweden</value>
            </setting>
            <setting name="SwedishCountryNativeName" serializeAs="String">
                <value>Sverige</value>
            </setting>
            <setting name="SwedishCountryPhoneNumberPrefix" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="TestPassword" serializeAs="String">
                <value>jakfjalkf43</value>
            </setting>
            <setting name="TestEmailAddress" serializeAs="String">
                <value>fkdsf.fsdff@ffd.se</value>
            </setting>
            <setting name="TestUserId" serializeAs="String">
                <value>1</value>
            </setting>
        </ArtDatabanken.Data.Test.Settings>
    </applicationSettings>
</configuration>