@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Bootstrap buttons sample</title>
        <link href="~/Content/ext-all-slate-min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/AnalysisPortal.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Overrides.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
        <script src="~/Scripts/extjs-4.2.1/ext-all.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>        
        <script src="~/Scripts/modernizr-2.5.3.js" type="text/javascript"></script>

        <style type="text/css">
            body {                
                margin: 20px;                
            }
            div.info {
                margin: 10px;
            }
            .qtip-tooltip {
                
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".qtip-tooltip").tooltip(); 
            }); 
        </script>
    </head>
    <body>
        
        <a name="Link to action"></a>
        <h1>Buttons</h1>
        
        <div class="alert">
            <p><strong>Note: </strong>preferably use "button" with "type=submit" instead of "input. Since input is difficult to use with icons</p>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit button</button>
        <code>
            <xmp><button type="submit" class="btn btn-primary">Submit button</button></xmp>
        </code>
        
        <br/>
        <br/>
        
        <button class="btn btn-primary qtip-tooltip" title="My tooltip">Button with tooltip</button>
        <code>
            <xmp><button class="btn btn-primary qtip-tooltip" title="My tooltip">Button with tooltip</button></xmp>
        </code>
        
        <br/>
        <br/>
        
        <button class="btn btn-primary">Icon button &nbsp;<i class="icon-magic icon-white"></i></button>
        <code>
            <xmp><button class="btn btn-primary">Icon button &nbsp;<i class="icon-magic icon-white"></i></button></xmp>
        </code>

        <br/>
        <br/>

        <a href="#Link to action" class="btn btn-primary">Link button</a>
        <code>
            <xmp><a href="#Link to action" class="btn btn-primary">Link button</a></xmp>
        </code>
        
        <br/><br/>

        <a href="#Link to action" class="btn btn-primary">Link icon button &nbsp;<i class="icon-link icon-white"></i></a>
        <code>
            <xmp><a href="#Link to action" class="btn btn-primary">Link icon button &nbsp;<i class="icon-link icon-white"></i></a></xmp>
        </code>
        
        <br/>
        <br/>
        
        <div class="btn-group">
            <button class="btn btn-primary" data-toggle="checkbox"><i class="icon-check-empty icon-white"></i></button>
            <a class="btn btn-primary" href="#Link to action">
                Combo button / button group  
                &nbsp;<i class="icon-wrench icon-white"></i>    
            </a>
        </div>
        <code>
            <xmp>
                <div class="btn-group">
                    <button class="btn btn-primary" data-toggle="checkbox"><i class="icon-check-empty icon-white"></i></button>
                    <a class="btn btn-primary" href="#Link to action">
                        Combo button / button group  
                        &nbsp;<i class="icon-wrench icon-white"></i>
                    </a>
                </div>
            </xmp>
        </code>
        
        <br/>
        <br/>

        <h2>Button Sizes</h2>
        
        <button class="btn btn-large btn-primary" type="button">Large button</button>
        <code>
            <xmp><button class="btn btn-large btn-primary" type="button">Large button</button></xmp>
        </code>
        
        <br/>
        <br/>
        
        <button class="btn btn-primary" type="button">Default button</button>
        <code>
            <xmp><button class="btn btn-primary" type="button">Default button</button></xmp>
        </code>
        
        <br/>
        <br/>

        <button class="btn btn-small btn-primary" type="button">Small button</button>
        <code>
            <xmp><button class="btn btn-small btn-primary" type="button">Small button</button></xmp>
        </code>
        
        <br/>
        <br/>

        <button class="btn btn-mini btn-primary" type="button">Mini button</button>
        <code>
            <xmp><button class="btn btn-mini btn-primary" type="button">Mini button</button></xmp>
        </code>
        
        <br/>
        <br/>
        
        <h2>Button States / Colors</h2>
        
        <button class="btn btn-primary" type="button">Standard/Passive button</button>
        <code>
            <xmp><button class="btn btn-primary" type="button">Standard/Passive button</button></xmp>
        </code>
        
        <br/>
        <br/>
        
        <button class="btn btn-default" disabled="disabled"  type="button">Disabled button</button>
        <code>
            <xmp><button class="btn btn-default" disabled="disabled" type="button">Disabled button</button></xmp>
        </code>
       
        <br/>
        <br/>
        
        <button class="btn btn-active" type="button">Current/Active button</button>
        <code>
            <xmp><button class="btn btn-active" type="button">Current/Active button</button></xmp>
        </code>

        <br/>
        <br/>
        
        <button class="btn btn-success" type="button">Changed/Has Values button</button>
        <code>
            <xmp><button class="btn btn-success" type="button">Changed/Has Values button</button></xmp>
        </code>

        <br/>
        <br/>
        
        <button class="btn btn-info" type="button">External Info button</button>
        <code>
            <xmp><button class="btn btn-info" type="button">External Info button</button></xmp>
        </code>

        <br/>
        <br/>
        
        <h2>Combinations</h2>

        <a class="btn btn-info btn-small qtip-tooltip" href="http://slu.se" title="This is an external link" type="button" target="_blank">
            <i class="icon-info-sign icon-white"></i>&nbsp; External Small Icon Link Button With Tooltip
        </a>
        <br/>
        <code>
            <xmp>
                <a class="btn btn-info btn-small qtip-tooltip" href="http://slu.se" title="This is an external link" type="button" target="_blank">
                    <i class="icon-info-sign icon-white"></i>&nbsp; External Small Icon Link Button With Tooltip
                </a>
            </xmp>
        </code>

        <br/>
        <br/>

    </body>
</html>