@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Google maps sample</title>
        <link href="~/Scripts/OpenLayers/theme/default/style.css" rel="stylesheet" type="text/css" />
        @*<link href="~/Content/Overrides.css" rel="stylesheet" type="text/css" />*@
        <script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
        <script src="~/Scripts/extjs-4.2.1/ext-all.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
        <script src="~/Scripts/modernizr-2.5.3.js" type="text/javascript"></script>

        <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false" type="text/javascript"></script>        
        <script src="~/Scripts/OpenLayers/OpenLayers.js" type="text/javascript"></script>
        

        <style type="text/css">
            body {                
                margin: 20px;                
            }
            div.info {
                margin: 10px;
            }
            .smallmap {
                width: 612px;
                height: 456px;
                border: 1px solid #ccc;
            }         
            div.olLayerGoogleCopyright, div.olLayerGooglePoweredBy {
              display: none !important;
            }
   
        </style>

        <script type="text/javascript">
            var lon = 5;
            var lat = 40;
            var zoom = 5;
            var map, layer;

            $(document).ready(function() {
                map = new OpenLayers.Map('map', { allOverlays: true });
                map.addControl(new OpenLayers.Control.LayerSwitcher());

                // the SATELLITE layer has all 22 zoom level, so we add it first to
                // become the internal base layer that determines the zoom levels of the
                // map.
                var gsat = new OpenLayers.Layer.Google(
                    "Google Satellite",
                    { type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22 }
                );
                var gphy = new OpenLayers.Layer.Google(
                    "Google Physical",
                    { type: google.maps.MapTypeId.TERRAIN, visibility: false }
                );
                var gmap = new OpenLayers.Layer.Google(
                    "Google Streets", // the default
                    {numZoomLevels: 20, visibility: false }
                );
                var ghyb = new OpenLayers.Layer.Google(
                    "Google Hybrid",
                    { type: google.maps.MapTypeId.HYBRID, numZoomLevels: 22, visibility: false }
                );

                map.addLayers([gsat, gphy, gmap, ghyb]);

                // Google.v3 uses EPSG:900913 as projection, so we have to
                // transform our coordinates
                map.setCenter(new OpenLayers.LonLat(10.2, 48.9).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                ), 5);                             
            });
            
        </script>
    </head>
    <body>

        <h3>Google maps</h3>
        
        <div id="map" class="smallmap"></div>

    </body>
</html>