@model dynamic

@{
    ViewBag.Title = "Upload file using POST";    
}

<h2>Upload file using POST</h2>

<form action="" method="post" enctype="multipart/form-data">

  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />

  <input type="submit" />
</form>