<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <ArtDatabanken.WebService.Client.Settings>
            <setting name="DefaultTransactionTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TransactionTimeoutMargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ClientTokenKey" serializeAs="String">
                <value>WebServiceClientToken</value>
            </setting>
            <setting name="ScientificTaxonNameCategoryNorway" serializeAs="String">
                <value>Vitenskaplig navn</value>
            </setting>
            <setting name="FirstPreferredCommonNameNorway" serializeAs="String">
                <value>Bokmål</value>
            </setting>
            <setting name="SecondPreferredCommonNameNorway" serializeAs="String">
                <value>Nynorsk</value>
            </setting>
            <setting name="TaxonNameVersionField" serializeAs="String">
                <value>Version</value>
            </setting>
            <setting name="GetTaxonNamesByTaxaLimit" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WebDataModifiedByPerson" serializeAs="String">
                <value>ModifiedByPerson</value>
            </setting>
            <setting name="WebDataNameUsageId" serializeAs="String">
                <value>NameUsageId</value>
            </setting>
            <setting name="WebDataTaxonRevisionId" serializeAs="String">
                <value>TaxonRevisionId</value>
            </setting>
            <setting name="WebDataChildrenCircularTaxonIds" serializeAs="String">
                <value>ChildrenCircularTaxonIds</value>
            </setting>
            <setting name="WebDataPropertyIdentifier" serializeAs="String">
                <value>PropertyIdentifier</value>
            </setting>
            <setting name="WebDataProjectParameter" serializeAs="String">
                <value>ProjectParameter</value>
            </setting>
            <setting name="WebDataGuid" serializeAs="String">
                <value>GUID</value>
            </setting>
            <setting name="WebDataProjectId" serializeAs="String">
                <value>ProjectId</value>
            </setting>
            <setting name="WebDataProjectName" serializeAs="String">
                <value>ProjectName</value>
            </setting>
            <setting name="WebDataUnit" serializeAs="String">
                <value>Unit</value>
            </setting>
        </ArtDatabanken.WebService.Client.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
