<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.GeoReferenceService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.GeoReferenceService.Settings>
            <setting name="CoordinateDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="RegionCategoriesCacheKey" serializeAs="String">
                <value>RegionCategories</value>
            </setting>
            <setting name="RegionTypesCacheKey" serializeAs="String">
                <value>RegionTypes</value>
            </setting>
            <setting name="RegionGeographyCacheKey" serializeAs="String">
                <value>RegionGeography</value>
            </setting>
            <setting name="RegionsInCategoryCacheKey" serializeAs="String">
                <value>RegionsInCategory</value>
            </setting>
        </ArtDatabanken.WebService.GeoReferenceService.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
