<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtDatabanken.WebService.ArtDatabankenService.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.ArtDatabankenService.Test.Settings>
            <setting name="ClientTokenDelimitor" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="WebAdminstrationApplicationIdentifier" serializeAs="String">
                <value>WebAdministration</value>
            </setting>
            <setting name="LoginAttemptLimit" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LoginTimeLimit" serializeAs="String">
                <value>10</value>
            </setting>
        </ArtDatabanken.WebService.ArtDatabankenService.Test.Settings>
    </applicationSettings>
</configuration>