<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dyntaxa.Test.DyntaxaTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <applicationSettings>
    <Dyntaxa.Test.DyntaxaTestSettings>
      <setting name="TestDyntaxaApplicationId" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="TestTaxonId" serializeAs="String">
        <value>100049</value>
      </setting>
      <setting name="TestRevisionId" serializeAs="String">
        <value>1876</value>
      </setting>
      <setting name="TestUserId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TestUserEmail" serializeAs="String">
        <value>test.dytaxa@slu.se</value>
      </setting>
      <setting name="TestUserName" serializeAs="String">
        <value>DyntaxaTestUser</value>
      </setting>
      <setting name="SwedishLocale" serializeAs="String">
        <value>sv-SE</value>
      </setting>
      <setting name="TestRoleId" serializeAs="String">
        <value>1376</value>
      </setting>
      <setting name="SwedishLocaleId" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="SwedishNameString" serializeAs="String">
        <value>Swedish(Sweden)</value>
      </setting>
      <setting name="SvenskNameString" serializeAs="String">
        <value>svenska(Sverige)</value>
      </setting>
      <setting name="ComputerTimeDifference" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FailingTestTaxonId" serializeAs="String">
        <value>77</value>
      </setting>
      <setting name="TestRevisionGUID" serializeAs="String">
        <value>DyntaxaRevisionTaxonEditor_urn:lsid:dyntaxa.se:Revision:1876</value>
      </setting>
      <setting name="TestRevisionOngoingId" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="TestRevisionPublishedId" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="TestRevisionOngoingGUID" serializeAs="String">
        <value>DyntaxaRevisionTaxonEditor_urn:lsid:dyntaxa.se:Revision:2000</value>
      </setting>
      <setting name="TestRevisionPublishedGUID" serializeAs="String">
        <value>DyntaxaRevisionTaxonEditor_urn:lsid:dyntaxa.se:Revision:3000</value>
      </setting>
      <setting name="TestTaxonNameId" serializeAs="String">
        <value>111</value>
      </setting>
      <setting name="TestRevisionEditorRoleId" serializeAs="String">
        <value>1396</value>
      </setting>
      <setting name="TestParentTaxonNameId" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TestParentTaxonId" serializeAs="String">
        <value>100037</value>
      </setting>
      <setting name="TestApplicationUserId" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TestDummyUserId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TestUserGuid" serializeAs="String">
        <value>"urn:lsid:ArtData.slu.se:User:Id:TestUser"</value>
      </setting>
      <setting name="PESIReferenceId" serializeAs="String">
        <value>855</value>
      </setting>
      <setting name="PathToTempDirectory" serializeAs="String">
        <value>dev\ArtDatabanken\Web\Dyntaxa\Dyntaxa.Test</value>
      </setting>
      <setting name="PsophusStridulusTaxonId" serializeAs="String">
        <value>101656</value>
      </setting>
      <setting name="ParnassiusApolloId" serializeAs="String">
        <value>101509</value>
      </setting>
      <setting name="PathToExcelTestFiles" serializeAs="String">
        <value>Resources</value>
      </setting>
      <setting name="LanguageContextString" serializeAs="String">
        <value>language</value>
      </setting>
      <setting name="EnglishLocaleId" serializeAs="String">
        <value>49</value>
      </setting>
      <setting name="EnglishLocale" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="TestUserPassword" serializeAs="String">
        <value>Qwertyasdfg123</value>
      </setting>
      <setting name="EnglishNameString" serializeAs="String">
        <value>English (United Kingdom)</value>
      </setting>
      <setting name="LanguageContextIdString" serializeAs="String">
        <value>languageId</value>
      </setting>
    </Dyntaxa.Test.DyntaxaTestSettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
