<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtDatabanken.WebService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.Settings>
            <setting name="DatabaseDateTimeFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss.fff</value>
            </setting>
            <setting name="LocalIpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TransactionDefaultTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TransactionMaxTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MaxReturnedLogRows" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="IPv6MaxStringLength" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="ClientTokenDelimiter" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="DefaultLocaleISOCode" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="DefaultLocaleId" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="RegionGeographyCacheKey" serializeAs="String">
                <value>RegionGeography</value>
            </setting>
            <setting name="CacheKeyDelimiter" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="CoordinateDifferenceLimit" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="PointCacheKey" serializeAs="String">
                <value>PointKey</value>
            </setting>
            <setting name="SpeciesObservationDataProviderCacheKey" serializeAs="String">
                <value>SpeciesObservationDataProvider</value>
            </setting>
            <setting name="SpeciesObservationDataProviderDictionaryCacheKey" serializeAs="String">
                <value>SpeciesObservationDataProviderDictionary</value>
            </setting>
            <setting name="DarwinCoreFieldDescriptionCacheKey" serializeAs="String">
                <value>FieldDescriptionKey</value>
            </setting>
            <setting name="DarwinCoreFieldMappingCacheKey" serializeAs="String">
                <value>FieldMappingKey</value>
            </setting>
            <setting name="BirdNestActivityCacheKey" serializeAs="String">
                <value>BirdNestActivityKey</value>
            </setting>
            <setting name="SpeciesActivityCacheKey" serializeAs="String">
                <value>SpeciesActivityKey</value>
            </setting>
            <setting name="DarwinCoreFieldDescriptionExtendedCacheKey" serializeAs="String">
                <value>FieldDescriptionExtendedKey</value>
            </setting>
            <setting name="DarwinCoreObservationColumnsCacheKey" serializeAs="String">
                <value>ObservationColumnsCacheKey</value>
            </setting>
            <setting name="OkStatusUpdateIntervalMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OkStatusUpdateIntervalSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorStatusUpdateIntervalMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorStatusUpdateIntervalSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResourceTypeDatabaseSwedishName" serializeAs="String">
                <value>Databas</value>
            </setting>
            <setting name="ResourceTypeDatabaseEnglishName" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="ResourceTypeWebServiceSwedishName" serializeAs="String">
                <value>Webbtjänst</value>
            </setting>
            <setting name="ResourceTypeWebServiceEnglishName" serializeAs="String">
                <value>Web service</value>
            </setting>
            <setting name="ResourceAccessTypeReadSwedish" serializeAs="String">
                <value>Läsa</value>
            </setting>
            <setting name="ResourceAccessTypeReadEnglish" serializeAs="String">
                <value>Read</value>
            </setting>
            <setting name="DatabaseStatusErrorEnglish" serializeAs="String">
                <value>Database returned status not ok.</value>
            </setting>
            <setting name="DatabaseStatusErrorSwedish" serializeAs="String">
                <value>Databasen svarade att något är fel.</value>
            </setting>
            <setting name="DatabaseCommunicationFailureEnglish" serializeAs="String">
                <value>Failure when communicating with database.</value>
            </setting>
            <setting name="DatabaseCommunicationFailureSwedish" serializeAs="String">
                <value>Ett fel uppstod vid kommunikationen med databasen.</value>
            </setting>
            <setting name="ErrorMessageEnglish" serializeAs="String">
                <value>Error message</value>
            </setting>
            <setting name="ErrorMessageSwedish" serializeAs="String">
                <value>Felmeddelande</value>
            </setting>
            <setting name="WebServiceCommunicationFailureEnglish" serializeAs="String">
                <value>Failed to retrieve status.</value>
            </setting>
            <setting name="WebServiceCommunicationFailureSwedish" serializeAs="String">
                <value>Misslyckades med att hämta status.</value>
            </setting>
            <setting name="ResourceAccessTypeReadAndWriteSwedish" serializeAs="String">
                <value>Läsa och skriva</value>
            </setting>
            <setting name="ResourceAccessTypeReadAndWriteEnglish" serializeAs="String">
                <value>Read and write</value>
            </setting>
            <setting name="TaxaInAuthorityCacheKey" serializeAs="String">
                <value>TaxaInAuthority</value>
            </setting>
            <setting name="TaxonTreeRelationCacheKey" serializeAs="String">
                <value>TaxonTreeRelations</value>
            </setting>
            <setting name="SaltMaxLength" serializeAs="String">
                <value>20</value>
            </setting>
        </ArtDatabanken.WebService.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
