<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtDatabanken.WebService.ArtDatabankenService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArtDatabanken.WebService.ArtDatabankenService.Settings>
            <setting name="DefaultLocaleId" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="DefaultLocaleISOCode" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="ClientTokenDelimiter" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="IPv6MaxStringLength" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="MaxSpeciesObservationWithInformation" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MaxSpeciesObservation" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="OldSpeciesObservationDatabaseName" serializeAs="String">
                <value>Obsdatabasen</value>
            </setting>
            <setting name="OkStatusUpdateIntervalMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OkStatusUpdateIntervalSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorStatusUpdateIntervalMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorStatusUpdateIntervalSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ResourceTypeDatabaseSwedishName" serializeAs="String">
                <value>Databas</value>
            </setting>
            <setting name="ResourceTypeDatabaseEnglishName" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="ResourceTypeWebServiceSwedishName" serializeAs="String">
                <value>Webbtjänst</value>
            </setting>
            <setting name="ResourceTypeWebServiceEnglishName" serializeAs="String">
                <value>Web service</value>
            </setting>
            <setting name="DatabaseStatusErrorEnglish" serializeAs="String">
                <value>Database returned status not ok.</value>
            </setting>
            <setting name="DatabaseStatusErrorSwedish" serializeAs="String">
                <value>Databasen svarade att något är fel.</value>
            </setting>
            <setting name="DatabaseCommunicationFailureEnglish" serializeAs="String">
                <value>Failure when communicating with database.</value>
            </setting>
            <setting name="DatabaseCommunicationFailureSwedish" serializeAs="String">
                <value>Ett fel uppstod vid kommunikationen med databasen.</value>
            </setting>
            <setting name="ErrorMessageEnglish" serializeAs="String">
                <value>Error message</value>
            </setting>
            <setting name="ErrorMessageSwedish" serializeAs="String">
                <value>Felmeddelande</value>
            </setting>
            <setting name="WebServiceCommunicationFailureEnglish" serializeAs="String">
                <value>Failed to retrieve status.</value>
            </setting>
            <setting name="WebServiceCommunicationFailureSwedish" serializeAs="String">
                <value>Misslyckades med att hämta status.</value>
            </setting>
            <setting name="ResourceAccessTypeReadAndWriteSwedish" serializeAs="String">
                <value>Läsa och skriva</value>
            </setting>
            <setting name="ResourceAccessTypeReadAndWriteEnglish" serializeAs="String">
                <value>Read and write</value>
            </setting>
            <setting name="ResourceAccessTypeReadSwedish" serializeAs="String">
                <value>Läsa</value>
            </setting>
            <setting name="ResourceAccessTypeReadEnglish" serializeAs="String">
                <value>Read</value>
            </setting>
            <setting name="CoordinateDifferenceLimit" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="RegionGeographyCacheKey" serializeAs="String">
                <value>RegionGeography</value>
            </setting>
            <setting name="CacheKeyDelimiter" serializeAs="String">
                <value>#</value>
            </setting>
        </ArtDatabanken.WebService.ArtDatabankenService.Settings>
    </applicationSettings>
</configuration>